################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/activities/bin/Debug/netcoreapp3.1
/activities/obj
/.vs
